[Desktop Entry]
Name=LEGO® Pirates of the Caribbean The Video Game
Comment=Play this game on Steam
Exec=steam steam://rungameid/311770
Icon=steam
Terminal=false
Type=Application
Categories=Game;
